@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-bleuspat shadow-md backdrop-blur-lg rounded-full lg:px-4 px-6
}

.link:hover{
    @apply bg-bleuspat/10 backdrop-blur-lg rounded-full lg:px-4 px-6 
}

/*Tendance charts*/
.tendance .recharts-default-legend{
    @apply text-xs !important
}

.tandance .recharts-legend-item .recharts-surface{
    @apply w-3 h-3 !important
}

/*Mini calendrier dashboard*/
.react-calendar {
    border: none !important;
    width: 100% !important;
}

.react-calendar__navigation button {
    font-weight: bold;
    border-radius: 10px;
}

.react-calendar__navigation__label {
    pointer-events: none !important;  
    cursor: default !important;     
    color: inherit !important;   
}

.react-calendar__tile{
    border-radius: 10px;
}

.react-calendar__tile--now {
    border: 2px solid #1d71b8 !important;
    background-color: transparent !important;
    font-weight: 600 !important;
}

.react-calendar__tile--active {
    background-color: transparent !important;
    color: black !important;
}

/*Calendrier ferrier*/
/* .rbc-toolbar-label{
    font-weight: 600;
    font-size: large;
}

.rbc-header span{
    color: rgb(85, 89, 99);
} */

/*Big calendar*/
.Bigcalendar .rbc-btn-group:last-child{
    display: none !important; 
}

.rbc-calendar{
    margin-top: 15px !important;
}

.Bigcalendar .rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
    color: gray;
}

.Bigcalendar .rbc-btn-group:first-child{
    font-size: 13px !important;
}

.Bigcalendar .rbc-btn-group:first-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.Bigcalendar .rbc-toolbar button.rbc-active{
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.Bigcalendar .rbc-time-view{
    border-color: #eee !important;
}

.Bigcalendar .rbc-time-content{
    display: none !important;
    border: none !important;
}

.Bigcalendar .rbc-time-header{
    flex: 1;
}

.Bigcalendar .rbc-time-gutter.rbc-time-column{
    font-size: 12px !important;
}

.Bigcalendar .rbc-time-gutter.rbc-time-column .rbc-timeslot-group{
    padding:  0px 20px !important;
}

.Bigcalendar .rbc-timeslot-group{
    background-color: #f7fdff !important;
}

.Bigcalendar .rbc-day-slot{
    font-size: 14px !important;
}

.Bigcalendar .rbc-event{
    border: none !important;
    color: black !important;
    width: 100% !important;
    font-size: 18px;
    margin: 10px 0;
}

.Bigcalendar .rbc-event:nth-child(1){
    background-color: #06b5eb;
}
.Bigcalendar .rbc-event:nth-child(2){
    background-color: #2f2792;
}

.Bigcalendar .rbc-event:nth-child(3){
    background-color: #5d2c96;
}
.Bigcalendar .rbc-event:nth-child(4){
    background-color: #f5c7f569;
}
.Bigcalendar .rbc-event:nth-child(5){
    background-color: #02253069;
}
.Bigcalendar .rbc-event-label{
    color: white !important;
}
.Bigcalendar .rbc-time-header-content .rbc-allday-cell .rbc-day-bg{
    background-color: #f1f1f1 !important;
}


/*Calendrier des jours ferriers*/
.calendrier .rbc-month-row .rbc-row-bg .rbc-day-bg {
  transition: background-color 0.1s !important;
}

.calendrier .rbc-month-row .rbc-row-bg .rbc-today{
  background-color: #829af8a0 !important;
}

.calendrier .rbc-month-row .rbc-row-bg .rbc-day-bg:hover {
  background-color: #dbeafe !important;
  cursor: pointer !important;
}

.calendrier .rbc-toolbar-label{
    padding: 0px 20px !important;
    color: rgb(14, 13, 53);
    text-align: right !important;
    size: 25px !important;
    font-weight: 600;
}

.calendrier .rbc-btn-group:first-child button{
    border: none !important;
    background-color: #e1dfff !important;
    margin-left: 2px !important;
}

.calendrier .rbc-btn-group:last-child button{
    border: none !important;
    background-color: #e1dfff !important;
    margin-left: 2px !important;
    font-weight: 500;
    color: white !important;
}

.calendrier .rbc-btn-group button.btn-actif{
    background-color: #1d71b8 !important;
}

.calendrier .rbc-row:nth-child(1) .rbc-event{
    background-color: #228be6;
}

.calendrier .rbc-row:nth-child(2) .rbc-event{
    background-color: #829af8;
}

.calendrier .rbc-month-row .rbc-event-content{
    font-size: 10px;
}

.calendrier .rbc-time-content{
    display: none;
}

.calendrier .rbc-time-header{
    flex: 1;
}

.calendrier .rbc-time-header-content .rbc-allday-cell .rbc-day-bg{
    background-color: #f1f1f1 !important;
}

.calendrier .rbc-time-header-content .rbc-allday-cell .rbc-row-content{
    margin: 10px;
}

.calendrier .rbc-time-header-content .rbc-allday-cell .rbc-row-content .rbc-event{
    margin: 5px 0;
}

/*Input login*/
.login.group[data-focus="true"] .group-data-\[focus\=true\]\:border-default-foreground {
    --tw-border-opacity: 1;
    border-color: #bbcafc !important;
}

/*Autocomplete*/
.auto.group .group[data-focus="true"] .group-data-\[focus\=true\]\:border-default-foreground {
    --tw-border-opacity: 1;
    border-color: #bbcafc !important;
}

/*Arrow popover*/
.sort.before\:bg-content1::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: #1d71b8 !important;
    right: 0 !important;
} 
.sort.data-\[placement\=bottom\]\:before\:left-1\/2[data-placement="bottom"]::before {
    content: var(--tw-content);
    left: 68% !important;
}
.filter.before\:bg-content1::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: #1d71b8 !important;
} 
