@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-green-400/10 shadow-md text-white backdrop-blur-lg rounded-full lg:px-4 px-6
}

.link:hover{
    @apply bg-[#f0f1f3] backdrop-blur-lg rounded-full lg:px-4 px-6 
}

/*Tendance charts*/
.tendance .recharts-default-legend{
    @apply text-xs !important
}

.tandance .recharts-legend-item .recharts-surface{
    @apply w-3 h-3 !important
}

/* span.rdrMonthAndYearPickers {
    pointer-events: none;
}

.rdrMonthName{
    display: none;
} */


/*Mini calendrier dashboard*/
.react-calendar {
    border: none !important;
    width: 100% !important;
}

.react-calendar__navigation button {
    font-weight: bold;
    border-radius: 10px;
}

.react-calendar__navigation__label {
    pointer-events: none !important;  
    cursor: default !important;     
    color: inherit !important;   
}

.react-calendar__tile{
    border-radius: 10px;
}

.react-calendar__tile--now {
    background-color: #829af8 !important;
    color: white;
    font-weight: 600 !important;
}

.react-calendar__tile--active {
    background-color: #b2b7c050 !important;
    color: black !important;
}

/*Calendrier ferrier*/
.rbc-toolbar-label{
    font-weight: 600;
    font-size: large;
}

.rbc-header span{
    color: rgb(85, 89, 99);
}


  
/*Big calendar*/
.Bigcalendar .rbc-btn-group:first-child{
    display: none !important; 
}

.Bigcalendar .rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
    color: gray;
}

.Bigcalendar .rbc-btn-group:last-child{
    font-size: 13px !important;
}

.Bigcalendar .rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.Bigcalendar .rbc-toolbar button.rbc-active{
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.Bigcalendar .rbc-time-view{
    border-color: #eee !important;
}

.Bigcalendar .rbc-time-header{
    display: none !important;
}

.Bigcalendar .rbc-time-content{
    border: none !important;
}

.Bigcalendar .rbc-time-gutter.rbc-time-column{
    font-size: 12px !important;
}

.Bigcalendar .rbc-time-gutter.rbc-time-column .rbc-timeslot-group{
    padding:  0px 20px !important;
}

.Bigcalendar .rbc-timeslot-group{
    background-color: #f7fdff !important;
}

.Bigcalendar .rbc-day-slot{
    font-size: 14px !important;
}

.Bigcalendar .rbc-event{
    border: none !important;
    color: black !important;
    width: 100% !important;
    font-size: 12px;
}

.Bigcalendar .rbc-event:nth-child(1){
    background-color: #06b5eb;
}
.Bigcalendar .rbc-event:nth-child(2){
    background-color: #2f2792;
}

.Bigcalendar .rbc-event:nth-child(3){
    background-color: #5d2c96;
}
.Bigcalendar .rbc-event:nth-child(4){
    background-color: #f5c7f569;
}
.Bigcalendar .rbc-event:nth-child(5){
    background-color: #02253069;
}
.Bigcalendar .rbc-event-label{
    color: white !important;
}



/*Calendrier des jours ferriers*/
.calendrier .rbc-row-bg .rbc-day-bg {
  transition: background-color 0.1s !important;
}

.calendrier .rbc-today{
  background-color: #829af8 !important;
}

.calendrier .rbc-row-bg .rbc-day-bg:hover {
  background-color: #dbeafe !important;
  cursor: pointer !important;
}

.calendrier .rbc-toolbar-label{
    padding: 0px 20px !important;
    color: rgb(14, 13, 53);
    text-align: right !important;
    size: 25px !important;
}

.calendrier .rbc-btn-group:last-child button{
    display: none;
}

.calendrier .rbc-btn-group:first-child button{
    border: none !important;
    background-color: #e1dfff !important;
    margin-left: 2px !important;
}

.calendrier .rbc-row:nth-child(1) .rbc-event{
    background-color: #228be6;
}

.calendrier .rbc-row:nth-child(2) .rbc-event{
    background-color: #829af8;
}

.calendrier .rbc-event-content{
    font-size: 10px;
}

/*Pagination*/
